{% load i18n sizeformat %}

<h3>{% trans "Domain Overview" %}: {{domain.name }}</h3>

<div class="info row-fluid detail">
  <h4>{% trans "Info" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Domain name" %}</dt>
    <dd>{{ domain.name|default:_("None") }}</dd>
    <dt>{% trans "Admin email" %}</dt>
    <dd>{{ domain.admin|default:_("None") }}</dd>
    <dt>{% trans "TTL" %}</dt>
    <dd>{{ domain.ttl|default:_("Unknown")}}</dd>
  </dl>
</div>

<div class="specs row-fluid detail">
  <h4>{% trans "Records" %}</h4>
  <hr class="header_rule">

  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <td>{% trans "Index" %}
        <td>{% trans "Type" %}</td>
        <td>{% trans "Name" %}</td>
        <td>{% trans "Data" %}</td>
        <td>{% trans "Priority" %}</td>
        <td>{% trans "TTL" %}</td>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ record.rec_type|default:_("None")|upper }}</td>
        <td>{{ record.name|default:_("") }}</td>
        <td>{{ record.data|default:_("")|upper }}</td>
        <td>{{ record.priority|default:_("None")|upper }}</td>
        <td>{{ record.ttl|default:_("None")|upper }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
