{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_record_form{% endblock %}
{% block form_action %}{% url horizon:dns:domains:record_create domain_id %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-header %}{% trans "Create A Record" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    <td class="actions">
        {% include "dns/domains/_form_fields.html" %}
    </td>
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>
        {% trans "Specify an record type, name and value." %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right"
         type="submit"
         value="{% trans "Create Record" %}" />
  <a href="{% url horizon:dns:domains:records domain_id %}"
     class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
