{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}update_domain_form{% endblock %}
{% block form_action %}{% url horizon:dns:domains:update domain_id %}{% endblock %}


{% block modal_id %}update_domain_modal{% endblock %}
{% block modal-header %}{% trans "Update Domain" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "From here you can modify different properties of an domain." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right"
         type="submit"
         value="{% trans "Update Image" %}" />
  <a href="{% url horizon:dns:domains:index %}"
     class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
